<html>
<head>
    <title>
        {{ .title}}
    </title>
</head>
<body>

<h1>测试注册</h1>
<label>channel</label>
<select class="channel">
    <option value = "ios">iOS</option>
    <option value = "hw">华为</option>
    <option value = "mi">小米</option>
    <option value = "mz">魅族</option>
    <option value = "op">OPPO</option>
</select>
<br>
<label>device_token</label>
<input style="width: 500px" type="text" class="device_token" value='123456789'>
<br>
<label>appId</label>
<input style="width: 500px" type="text" class="appId" value='2882303761517900020'>
<br>
<label>group_id</label>
<input type="text" class="group_id" value='1'>
<br>
<br>
<button style="color: blue" name="register">注册</button>
<br>


<HR>
<h1>测试登录与退出登录</h1>
<label>uid</label>
<input type="text" class="uid" value='47818'>
<br>
<br>
<button style="color: green" name="login">登录</button>&nbsp;&nbsp;
<button style="color: red" name="logout">退出登录</button>

<h1>消息</h1>
<label>Title</label>
<input type="text" class="message_title" value="测试title">
<br>
<label>Body</label>
<input type="text" class="message_body" value="测试Body">
<br>
<br>
<button style="color: blue" name="push">发送</button>
<br>

<hr>
<br>
<div style="border-style:dashed;padding: 10px">
    <h5>结果</h5>
    <button name="clear">clear</button>
    <HR>
    <div class="time">

    </div>
</div>

<script src="http://91vh.com/js/jquery-2.1.4.min.js"></script>
<script>
$(function(){
    $('.channel').click(function (){
        var c = $('.channel').val();
        $.ajax({
            type: "GET",
            url: 'http://{{ .httpUrl }}/home/getAppId/'+c,
            data: {
            },
            contentType: "application/x-www-form-urlencoded",
            success: function(data) {
                console.log(data);
                if (data.code == 1){
                    $('.device_token').val(data.data.token);
                    $('.appId').val(data.data.appId);
                }
            }
        });
    });
    $("button[name='clear']").click(function() {
        $("div.time").html("");
    });

    $("button[name='register']").click(function() {
        register();
    });

    function register() {
        device_token = $(".device_token").val();
        group_id = $('.group_id').val();
        channel = $('.channel').val();
        appId = $('.appId').val();

        console.log("button 点击:"+device_token+"-"+"-"+group_id);

        var now = new Date();

        $.ajax({
            type: "POST",
            url: 'http://{{ .httpUrl }}/device/register',
            data: {
                device_token : device_token,
                group_id : group_id
            },
            beforeSend: function(request) {
                request.setRequestHeader("Channel", channel);
                request.setRequestHeader("AppId",appId);
            },
            contentType: "application/x-www-form-urlencoded",
            success: function(data) {
                console.log(data);
                if (data.code == 1){
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   "+"注册成功！</p>")
                }else {
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   "+data.msg+"</p>")
                }
            }
        });
    }
    $("button[name='login']").click(function() {
        uid = $('.uid').val();
        device_token = $(".device_token").val();
        group_id = $('.group_id').val();
        channel = $('.channel').val();
        appId = $('.appId').val();

        console.log("button 点击:"+device_token+"-"+uid+"-"+group_id);
        var now = new Date();
        $.ajax({
            type: "POST",
            url: 'http://{{ .httpUrl }}/device/login',
            data: {
                device_token : device_token,
                uid : uid,
                group_id : group_id
            },
            beforeSend: function(request) {
                request.setRequestHeader("Channel", channel);
                request.setRequestHeader("AppId",appId);
            },
            contentType: "application/x-www-form-urlencoded",
            success: function(data) {
                console.log(data);
                if (data.code == 1){
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   "+"登录成功！</p>")
                    // addChatWith(msg("小盖","出价啦"))
                }else {
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   "+data.msg+"</p>")
                }
            }
        });
    });

    $("button[name='logout']").click(function() {
        uid = $('.uid').val();
        device_token = $(".device_token").val();
        group_id = $('.group_id').val();
        channel = $('.channel').val();
        appId = $('.appId').val();

        console.log("button 点击:"+"-"+uid);
        var now = new Date();
        $.ajax({
            type: "POST",
            url: 'http://{{ .httpUrl }}/device/logout',
            data: {
                uid : uid,
            },
            beforeSend: function(request) {
                request.setRequestHeader("Channel", channel);
                request.setRequestHeader("AppId",appId);
            },
            contentType: "application/x-www-form-urlencoded",
            success: function(data) {
                console.log(data);
                if (data.code == 1){
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   " + "退出登录成功！</p>")
                    // addChatWith(msg("小盖","出价啦"))
                }else {
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   " + data.msg +"</p>")
                }
            }
        });
    });

    $("button[name='push']").click(function() {
        uid = $('.uid').val();
        device_token = $(".device_token").val();
        group_id = $('.group_id').val();
        channel = $('.channel').val();
        appId = $('.appId').val();

        console.log("button 点击:"+"-"+uid + $('.message_title').val() + $('.message_body').val());
        var now = new Date();
        $.ajax({
            type: "POST",
            url: 'http://{{ .httpUrl }}/push/message',
            data: {
                uid : uid,
                title : $('.message_title').val(),
                desc : $('.message_body').val(),
                is_show_notify : 1,
            },
            beforeSend: function(request) {
                request.setRequestHeader("Channel", channel);
                request.setRequestHeader("AppId",appId);
            },
            contentType: "application/x-www-form-urlencoded",
            success: function(data) {
                console.log(data);
                if (data.code == 1){
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   " + "发送成功！</p>")
                    // addChatWith(msg("小盖","出价啦"))
                }else {
                    $("div.time").append("<p style='color: green'><small style='color: red' class='time'>"+now.toLocaleString()+"</small>   " + data.msg +"</p>")
                }
            }
        });
    });
});

</script>
</body>
</html>